
@import "tailwindcss";
@import "tailwindcss/preflight";

@theme {
	/* fonts */
	--font-display: "Lexend", "sans-serif";
	--font-bengali: "Noto Serif Bengali", "serif";

	/* colors */
	--color-bd-green: #006a4e;
	--color-bd-red: #f42a41;
	--color-bd-green-dark: #004d38;
	--color-bd-red-dark: #c41e30;
	--color-background-dark: #050805;
	--color-surface-dark: #0f170f;

	/* animations */
	--animation-pulse-slow: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@tailwind utilities;

